<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Upload Page</title>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-material.min.css">
</head>
<body ng-controller="UploadController as uploadCtrl">
  <div layout="column" layout-align="center center">
    <md-card>
      <md-card-title>
        <h2>Upload File</h2>
      </md-card-title>
      <md-card-content>
        <div layout="row">
          <md-file-select ng-model="uploadCtrl.selectedFile" accept=".csv,.xls,.xlsx" on-change="uploadCtrl.handleFileChange()">
            <md-button>Choose File</md-button>
          </md-file-select>
        </div>
        <div layout="row" flex>
          <md-textarea ng-model="uploadCtrl.promptText" placeholder="Enter your text prompt here" md-rows="4"></md-textarea>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-disabled="!uploadCtrl.selectedFile" ng-click="uploadCtrl.handleSubmit()">Submit</md-button>
      </md-card-actions>
    </md-card>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-material.min.js"></script>
  <script src="app.js"></script>
</body>
</html>